In [1]:
from ee5111_libraries import *

csv_processing('rainfall-monthly-number-of-rain-days/rainfall-monthly-number-of-rain-days.csv')

       month  no_of_rainy_days Matric Number
0    1982-01                10     A0108484B
1    1982-02                 5     A0108484B
2    1982-03                11     A0108484B
3    1982-04                14     A0108484B
4    1982-05                10     A0108484B
..       ...               ...           ...
446  2019-03                 6     A0108484B
447  2019-04                 9     A0108484B
448  2019-05                13     A0108484B
449  2019-06                16     A0108484B
450  2019-07                 8     A0108484B

[451 rows x 3 columns]